.idCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 30px;
    padding: 7px 5px;
    border: solid black 1px;
}
.cardImg{
    display: flex
}
.cardItem{
    display: flex;
    margin: 0px 10px;
    padding: 0px;
    height: 25px;
}
.cardItem h5{
    margin: 5px 0px 5px 10px;
}
.cardItem h6{
    margin: 8px 5px;
    font-weight: 400;
   
}